<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html"
      th:replace="layout/base :: layout(~{::section})">
    <section>
        <h1 class="mb-3">Cadastro de Pessoa Juridica</h1>

        <form th:action="@{/pj/salvar}" method="post" th:object="${pessoa}">
            <input type="hidden" th:field="*{id}" />
            <div class="mb-3">
                <label>Razão Social</label>
                <input type="text" class="form-control" th:field="*{razaoSocial}">
            </div>
            <div class="mb-3">
                <label>CNPJ</label>
                <input type="text" class="form-control" th:field="*{cnpj}">
            </div>
            <div class="mb-3">
                <label>Email</label>
                <input type="email" class="form-control" th:field="*{email}">
            </div>
            <div class="mb-3">
                <label>Telefone</label>
                <input type="text" class="form-control" th:field="*{telefone}">
            </div>
            <button class="btn btn-success">Salvar</button>
            <a th:href="@{/pj}" class="btn btn-secondary">Voltar</a>
        </form>
    </section>
</html>
