.app {
    display: flex;
    min-height: 100vh;
}
.main-wrapper {
    display: flex;
    flex: 1;
}
/* ===== SIDEBAR ===== */
.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 80px;              /* recolhida */
    background: var(--verde-escuro);
    overflow-x: hidden;
    transition: width 0.2s ease;
    z-index: 1000;
}

.sidebar:hover {
    width: 260px;             /* expandida */
}

.content {
    margin-left: 80px;        /* espaço da sidebar recolhida */
    flex: 1;
    padding: 25px;
    background-color: var(--verde-claro);
    min-height: 100vh;
}


/* ===== HEADER ===== */
.sidebar-header {
    height: 90px;
    display: flex;
    align-items: center;
    padding-left: 20px;
}

.logo {
    color: #ffcc00; /* AMARELO */
    font-size: 1.2rem;
    font-weight: bold;
    opacity: 0;
    height: 35px;
    transition: opacity 0.2s ease;
}

.sidebar:hover .logo {
    opacity: 1;
}

/* ===== LINKS ===== */
.nav-link {
    display: flex;
    align-items: center;
    gap: 15px;

    padding: 12px 20px;
    color: #e6ffe6;
    white-space: nowrap;
}

.nav-link:hover,
.nav-link.active {
    background-color: #ffcc00; /* AMARELO */
    color: #0b5d1e;            /* VERDE */
}

/* ÍCONES */
.icon {
    font-size: 1.3rem;
    min-width: 30px;
    text-align: center;
}

/* TEXTO ESCONDIDO */
.text {
    opacity: 0;
    transition: opacity 0.2s ease;
}

.sidebar:hover .text {
    opacity: 1;
}
:root {
    --verde-escuro: #0b5d1e;
    --verde: #198754;
    --verde-claro: #e9f5ec;

    --amarelo: #ffc107;
    --amarelo-hover: #e0a800;

    --preto: #121212;
    --cinza-escuro: #2b2b2b;
    --cinza: #3a3a3a;
    --branco: #ffffff;
}
