/* TÍTULO */
.titulo-pagina {
    margin: 20px;
}

/* FILTRO */
.filtro-produtos {
    display: flex;
    gap: 10px;
    margin: 20px;
}

/* GRID */
.produtos-grid {
    display: grid;
    background: #198754;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
    padding: 20px;
}

/* CARD */
.produto-card {
    background: #ffffff;
    border-radius: 10px;
    padding: 15px;
    text-align: center;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

/* IMAGEM */
.imagem-container {
    width: 100%;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.imagem-container img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}

/* TEXTO */
.preco {
    color: #0b5d1e;
    font-weight: bold;
}

/* BOTÕES */
.btn-detalhes,
.btn-carrinho,
.btn-filtrar {
    background: #ffc107;
    color: #0b5d1e;
    padding: 8px 12px;
    border-radius: 6px;
    text-decoration: none;
    border: none;
    cursor: pointer;
}

.btn-limpar {
    text-decoration: none;
    padding: 8px 12px;
}

/* ADMIN */
.admin-acoes {
    margin-top: 10px;
}

.btn-editar {
    background: #198754;
    color: #fff;
    padding: 5px 10px;
    border-radius: 6px;
    text-decoration: none;
}

.btn-excluir {
    background: #dc3545;
    color: #fff;
    padding: 5px 10px;
    border-radius: 6px;
    text-decoration: none;
}

/* RESPONSIVO */
@media (max-width: 900px) {
    .produtos-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 600px) {
    .produtos-grid {
        grid-template-columns: 1fr;
    }
}
