<!DOCTYPE html>
<html lang="pt-BR"
      xmlns:th="http://www.thymeleaf.org"
      th:fragment="layout(content)">

<head th:replace="~{fragments/head :: head(~{})}"></head>

<body>

<div class="app">


    <div th:replace="fragments/sidebar :: sidebar"></div>


    <div class="content">

        <header th:replace="fragments/header :: header"></header>


        <main class="container my-4">
            <th:block th:replace="${conteudo}"></th:block>
        </main>


        <footer th:replace="fragments/footer :: footer"></footer>

    </div>

</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>

</body>
</html>
