<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="layout/base :: layout(~{::section})">
<section>
    <h1 class="mb-3">Vendas</h1>

    <a class="btn btn-primary mb-3" th:href="@{/vendas/novo}">
        Nova Venda
    </a>
    <table class="table table-striped" >
            <thead>
            <tr>
                <th>ID</th>
                <th>Data</th>
                <th>Cliente</th>
                <th>Venda</th>
                <th>Valor</th>
                <th>Ações</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="v : ${vendas}">
                <td th:text="${v.id}">1</td>
                <td th:text="${#temporals.format(v.data, 'dd-MM-yyyy')}"></td>
                <td th:text="${v.cliente != null ? v.cliente.nomeExibicao : '-'}">Cliente</td>
                <td th:text="${#numbers.formatInteger(v.numeroVenda, 4)}" ></td>
                <td th:text="${v.valorTotal}"></td>
                <td>
                    <a th:href="@{|/vendas/editar/${v.id}|}">Editar</a> |
                    <a th:href="@{|/vendas/deletar/${v.id}|}" onclick="return confirm('Deletar?')">Deletar</a> |
                    <a th:href="@{|/vendas/detalhes/${v.id}|}">Detalhes</a>
                </td>
            </tr>
            </tbody>
        </table>
</section>
</html>
